@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Thin.ttf") format("ttf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-ThinItalic.ttf") format("ttf");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-ExtraLight.ttf") format("ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-ExtraLightItalic.ttf") format("ttf");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-LightItalic.ttf") format("ttf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-MediumItalic.ttf") format("ttf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-SemiBold.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-SemiBoldItalic.ttf") format("ttf");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-BoldItalic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-ExtraBold.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-ExtraBoldItalic.ttf") format("ttf");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-Black.ttf") format("ttf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Petrona";
    src: url("/fonts/Petrona-BlackItalic.ttf") format("ttf");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

html {
    font-family: "Petrona";
}
