---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="sticky top-0 bg-zinc-900">
    <nav
        class="max-w-prose mx-auto flex justify-between align-middle py-5 px-3 text-zinc-300"
    >
        <div class="text-xl"><a href="/">{SITE_TITLE}</a></div>
        <ul class="flex gap-3">
            <li class="flex items-center">
                <HeaderLink href="/">Home</HeaderLink>
            </li>
            <li class="flex items-center">
                <HeaderLink href="/blog">Blog</HeaderLink>
            </li>
        </ul>
    </nav>
    <hr class="border-zinc-700" />
</header>
