---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
    <nav class="max-w-prose mx-auto flex justify-between align-middle py-3">
        <div class="text-2xl"><a href="/">{SITE_TITLE}</a></div>
        <ul class="flex gap-3">
            <li class="flex items-center">
                <HeaderLink href="/">Home</HeaderLink>
            </li>
            <li class="flex items-center">
                <HeaderLink href="/blog">Blog</HeaderLink>
            </li>
        </ul>
    </nav>
</header>
