---
import NavLink from "./NavLink.astro";
---

<nav class="lg:mx-12">
  <div class="mt-4 space-y-4 lg:mt-8">
    <NavLink label="About" path="/about" />
    <NavLink label="Blog" path="/blog" />
  </div>
</nav>
