---
import NavLink from "./NavLink.astro";

const navLinkList = [
  { label: "About", path: "/about" },
  { label: "Blog", path: "/blog" },
];
---

<nav class="lg:mx-12">
  <div class="mt-4 space-y-4 lg:mt-8">
    {navLinkList.map((link) => <NavLink label={link.label} path={link.path} />)}
  </div>
</nav>

<script src="../scripts/navigation/highlightActiveNavLink.ts"></script>
