---
import type { NavLinkItem } from "../types/navigation";
import NavLink from "./NavLink.astro";

export interface Props {
  navLinks: NavLinkItem[];
}

const { navLinks } = Astro.props;
---

<nav class="flex w-full justify-between items-center pt-6 px-8">
  <a href="/">
    <h1 class="text-2xl text-zinc-200">Kieran Sweeden</h1>
    <small class="text-sm text-zinc-500">Full Stack Developer</small>
  </a>
  <ul class="flex space-x-6">
    {navLinks.map((link) => <NavLink label={link.label} path={link.path} />)}
  </ul>
</nav>

<script src="../scripts/navigation/highlightActiveNavLink.ts"></script>
